body {
    padding-top: 200px;
    padding-left: 150px;
}
.timer {
    display: flex;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    padding: 15px;
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
}

.label {
    padding-top: 10px;
}

.value {
    font-size: 50px;
}
.btns-container {
    margin-top: 50px;
}

